@use "../../index";
.form {
  &__container {
    width: 60rem;
    border: 3px solid #000;
    border-radius: 1rem;
    margin: auto;
    padding: 3rem;
    margin-block: 8rem;
    color: #000;

    .remember {
      @extend %JSB;
      margin-bottom: 0.7rem;

      label {
        @extend %AC;
        cursor: pointer;
        // width: 100%;
        font-size: 1.4rem;
      }
      input {
        // width: ;
        cursor: pointer;
        margin-inline-end: 1rem;
        accent-color: #000;
      }
      .signup {
        font-size: 1.5rem;
        cursor: pointer;
        color: #000;
        text-decoration: underline;
      }
    }
  }
  &__title {
    margin-bottom: 4rem;
    font-size: 3rem;
  }
  &__input {
    &-container {
      padding-inline: 2rem;
    }
    &-label {
      margin-inline-start: 3rem;
      margin-bottom: 1rem;
      font-size: 1.8rem;
    }
  }
  &-hint {
    font-size: 1.6rem;
    line-height: 18px;
  }
}
